.acc-history {
  padding: 80px 50px 80px 50px;
  margin: 0 auto;
  width: 60%;
  justify-items: center;
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  box-shadow: 0 6px 16px rgba(0, 0, 0, 0.2);
}

.form-header {
  text-align: center;
  padding-bottom: 30px;
}

.form-header h2 {
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
}

.tx-record {
  margin-block: 20px;
}
