<mat-toolbar class="nav">
  <div class="toolbar-left">
    <img src="/logo.png" alt="App Logo" class="logo" />
  </div>

  <span class="spacer"></span>

  <div class="nav-buttons">
    <app-custom-button
      routerLink="/create"
      [label]="'Create Account'"
      [buttonClass]="'btn-header'"
    ></app-custom-button>

    <ng-container *ngIf="hasAccounts$ | async">
      <app-custom-button
        routerLink="/transfer"
        [label]="'Transfer Funds'"
        [buttonClass]="'btn-header'"
      ></app-custom-button>
      <app-custom-button
        routerLink="/history"
        [label]="'Transaction History'"
        [buttonClass]="'btn-header'"
      ></app-custom-button>
    </ng-container>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
