.nav {
  background-color: #131f2f;
  height: 70px;
  padding-inline: 70px;
  margin-bottom: 100px;
}

.nav-buttons {
  color: black;
  background-color: white;
  border-block: black;
}

:hover .nav-buttons button {
  border-radius: 0px;
  background-color: #ebe9da;
}

.app-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbar-left {
  display: flex;
  align-items: center;
}

.logo {
  height: 100px;
  width: auto;
  margin-right: 10px;
}

.spacer {
  flex: 1 1 auto;
}
